In [1]:
print("Mars Tech")

Mars Tech

In [51]:
name = str(input("Enter your institute name? "))

Enter your institute name?  Mars Tech

In [52]:
name = str(input("Enter your Name: "))
age = int(input("Enter Your Age: "))
school = str(input("Enter Your School Name: "))
degree = str(input("Enter Your Degree: "))

Enter your Name:  Raj
Enter Your Age:  15
Enter Your School Name:  Guru School
Enter Your Degree:  B.E.CSE

In [53]:
a = 43
b = 34
add =  a+b
print("a=%d\n b=%d\n add=%d\n"% (a , b, add))

a=43
 b=34
 add=77

In [55]:
a = 43
b = 34
sub =  a-b
print("a=%d\n b=%d\n sub=%d\n"% (a , b, sub))

a=43
 b=34
 sub=9

In [14]:
a= 63
b= 97
Mul = a*b
print("a=%d\n b=%d\n Mul=%d\n"% (a , b, Mul))

a=63
 b=97
 Mul=6111

In [56]:
a= 76
b= 31
div = 76/31
print("a=%d\n b=%d\nFloat Div=%.16f"% (a,b,div))

a=76
 b=31
Float Div=2.4516129032258065

In [57]:
a=76
b=31
floor_div= a//b
print("a=%d\n b=%d\nFloor Div=%.0f"% (a,b,floor_div))

a=76
 b=31
Floor Div=2

In [58]:
a=76
b=31
mod = a%b
print("a=%d\n b=%d\nModulo=%.0f"% (a,b,mod))

a=76
 b=31
Modulo=14

In [59]:
a=4
b=4
power= a**b
print("a=%d\n b=%d\nPower=%.0f"% (a,b,power))

a=4
 b=4
Power=256